/* nav  */
nav ul {
    display: flex;
    justify-content: space-around;
  }
  
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  nav ul button{
    /* border: 1px solid red; */
    border: none;
    background-color: chartreuse;
    border-radius: 10px;
    width: 120px;

  }
  /* new css  banner */

  #banner1{
    background-color: #e9efff;
    display: grid;
    border-top: 20px;
    
  }
  #banner1 >h1{
    /* border: 1px solid red; */
    margin: 5px;
    padding-left: 200px;
  }
  #banner1 p{
    /* border: 1px solid red; */
    padding-left: 200px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;

  }
  #banner1 img{
    /* border: 1px solid red; */
    padding-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;

  }
#banner1 button{
    /* border: 1px solid red; */
    height: 30px;
    width: 120px;
    margin-left: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: antiquewhite;
    background-color: black;
    border-radius: 10px;
    border: none;

}

/* banner 2 */

#banner2 {
    /* border: 1px solid red; */
    background-color: rgb(255,255,255);

    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr)

}
.banner2div{
font-size: large;
text-align: start;
margin-top: 120px;
/* padding: 80px; */
margin-left: 80px;
/* justify-content: space-around; */
}
 /* banner 3 import hover  */
 
 .box{
    /* width: auto;
    height: auto; */
    /* margin: 10px; */
    transition: opacity 0.3s ease;
    /* justify-content: space-between;
display: grid; */
margin-bottom: 20px;
display: grid;
grid-template-columns: repeat(2, 1fr);
    

    /* border: 1px solid red; */
 }
 .box > div{
    /* border: 1px solid red; */
  
    /* border: none; */
    width: 80%;
    height: 80%; 
    justify-content: space-between;

    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     gap: 20px; 
     /* background-color: rgb(232,238,254); */
     margin-bottom: 40px;

 }
  .box div:hover {
    opacity: 1;
    border: 1px solid rgb(8, 13, 171);
    border-radius: 10px;

}
 .box.:hover .card:not(:hover) {
    opacity: 0.3; }/* Fade out non-hovered cards */

    .box p{
      font-size: medium;
font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
 /* banner 4 */
 #banner4{
    /* border: 1px solid black;  */
    border: none;
    width: 80%;
    height: 40%; */
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     gap: 20px; 
     /* background-color: rgb(232,238,254); */
     margin-bottom: 20px;
    
}
#banner4 >div{
    /* border: 1px solid red; */
     width: 75%;
    height: 14vw; 
    margin: auto; 
    margin-top: 50px; 
     text-align: center;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  } 
#banner4 h5{
    display: grid;
    font-size: x-large;
    
    text-align: start;
    padding-left: 20px;
    /* text-align: center; */
}

#banner4 div > p{
    /* border: 1px solid red; */
  /* margin-top: 5px; */
text-align: start;
/* padding-bottom: 20px; */
padding-left: 20px;
font-family: sans-serif;
font-size:medium;
/* text-align: inherit; */

opacity: 0.4;
}

.card :hover{
    /* background-color: cadetblue; */
    color: cadetblue;

}

#banner5 {
/* border: 1px solid red; */
display: grid;
grid-template-columns: repeat(3, 1fr);
margin: auto;
margin-bottom: 200px;
margin-top: 40px;
padding-left: 40px;
}
#banner5 img{
  height: 350px;
  width: 350px;
  border-radius: 20px;
}
#banner5 >div{
  /* border: 1px solid red; */
  display: grid;
/* grid-template-columns: repeat(3, 1fr); */
  width: 250px;
height: 300px;
}
#banner5 p{
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#banner5 span{
  font-style: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}